extends templates/layout

block content 
    h1= "hu"





//- extends layouts/main

//- block content
//-     //- .form-container
//-     //-     form(action=routes.editMovie(movie.id), method="post")
//-     //-         input(type="text", placeholder="Title", name="title", value=movie.title)
//-     //-         textarea(name="description", placeholder="Description")=movie.description
//-     //-         input(type="submit", value="Update Video")
//-     //-         a.form-container__link(href=routes.deleteVideo(movie.id))
//-     //-         button.delete Delete Video 
//-     h1= "huihihi"